//constants
$header-height: 64px;
$container-height: 920px;

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #000000;
    display: flex;
    justify-content: center;
    background-color: #E0E0E0;

    #root {
        width: 100%;
    }
}

.container {
    background-color: #FFFFFF;
    height: $container-height;
    margin: 48px;
    border-radius: 24px;

    &.container__mobile {
        margin: 0;
    }
}

.header {
    display: flex;
    height: $header-height;
    border-bottom: 1px solid #EDEDED;

    .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;

        &.tab__left {
            width: 74%;
            // background-color: #FFFFFF;
            border-radius: 24px 0 0 0;
        }

        &.tab__right {
            width: 26%;
            background-color: #F8F8F8;
            border-radius: 0 24px 0 0;
        }
    }

    &.header__mobile {
        // background-color: #F8F8F8;
        .tab {
            width: 50%;
        }
    }
}

.main {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 0 0 24px 24px;
    height: $container-height - $header-height;

    .section-left {
        width: 74%;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        padding: 16px 0;
    }

    .section-right {
        width: 26%;
        background-color: #F8F8F8;
        border-radius: 0 0 24px 0;

    }

    &.main__tablet {
        .section-left {
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            padding: 16px;
        }

        .section-left,
        .section-right {
            width: 100%;
            background-color: #FFFFFF
        }
    }

    &.main__mobile {
        display: flex;
        flex-direction: column;
        overflow: auto;
        background-color: #FFFFFF;

        .section-left {
            justify-content: center;
        }

        .section-left,
        .section-right {
            width: 100%;
            background-color: #FFFFFF
        }
    }
}